<!-- Main Content -->
<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1>Dashboard
			</h1>
			<div class="section-header-breadcrumb">
				<div class="breadcrumb-item">
					{{pagePath}}
				</div>
			</div>
		</div>

		<div>
			<div class="alert {{ message.tags }} m-2 show fade">
				<div class="alert-body">

				</div>
			</div>
		</div>

		<div class="sectio-body">

		</div>
	</section>
</div>