<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
  <link rel="icon" type="image/png" sizes="16x16" href="/admin/public/img/kalakunj-logo-icon.png" />
  <title>Login &mdash; Kalakunj Mandir</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/admin/public/plugins/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/admin/public/plugins/fontawesome-free/css/fontawesome.min.css" />
  <link rel="stylesheet" href="/admin/public/plugins/sweetalert2/sweetalert2.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/admin/public/css/stisla.css" />
  <link rel="stylesheet" href="/admin/public/css/stisla-components.css" />
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand" style="margin-bottom: 20px;">
              <a href="/admin/">
                <img src="/admin/public/img/kalakunj-logo-icon.jpg" alt="logo" width="100" class="shadow-light rounded-circle" /></a>
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>

              <div class="card-body">
                <form class="form-horizontal m-t-20" id="loginform">
                  <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />

                  <div id="div_id_email" class="form-group">
                    <label for="id_email" class="requiredField">
                      Email<span class="asteriskField">*</span>
                    </label>
                    <div class="">
                      <input type="email" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="30" class="textinput textInput form-control" required id="id_email" />
                    </div>
                  </div>
                  <div id="div_id_password" class="form-group">
                    <label for="id_password" class="requiredField">
                      Password<span class="asteriskField">*</span>
                    </label>
                    <div class="">
                      <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" maxlength="30" required id="id_password" />
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" id="submitbtn" class="btn btn-success btn-lg btn-block" tabindex="4">
                      <i class="fa fa-sign-in"></i>Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="simple-footer" style="margin-top: 20px;">Copyright &copy; Kalakunj Mandir</div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="/admin/public/plugins/jquery/jquery.min.js"></script>
  <script src="/admin/public/plugins/popper/popper.min.js"></script>
  <script src="/admin/public/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="/static/new-dashboard/dist/js/jquery-nicescroll.js"></script> -->
  <script src="/admin/public/plugins/moment/moment.min.js"></script>
  <script src="/admin/public/plugins/sweetalert2/sweetalert2.min.js"></script>
  <script src="/admin/public/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="/admin/public/plugins/jquery-validation/additional-methods.min.js"></script>
  <script src="/admin/public/js/stisla.js"></script>

  <!-- Template JS File -->
  <script src="/admin/public/js/stisla-scripts.js"></script>


  <script>
    // Toaster
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $(document).ready(function() {

      var loginForm = $('#loginform').validate({
        rules: {
          email: {
            required: true,
            email: true
          },
          password: {
            required: true,
            minlength: 8
          }
        },
        messages: {
          email: {
            required: "Please enter your email",
            email: "Please enter a valid email address"
          },
          password: {
            required: "Please enter your password",
            minlength: "Your password must be at least 8 characters long"
          }
        },
        errorElement: "span",
        errorPlacement: function(error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function(element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function(element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        }
      });

      $('form#loginform').submit(function(e) {
        e.preventDefault();

        if (loginForm.valid()) {
          $('#submitbtn').attr('disabled', true);
          $('#submitbtn').addClass('btn-progress');

          $.ajax({
            url: '/admin/login/',
            type: 'POST',
            data: $('form#loginform').serialize(),
            success: function(data) {
              if (data.status) {
                Toast.fire({
                  icon: 'success',
                  title: data.message + ' Redirecting...'
                });
                setTimeout(function() {
                  window.location.href = '<%= next %>';
                }, 1000);
              } else {
                Toast.fire({
                  icon: 'error',
                  title: data.message
                });
              }
              $('#submitbtn').attr('disabled', false);
              $('#submitbtn').removeClass('btn-progress');
            },
            error: function(data) {
              Toast.fire({
                icon: 'error',
                title: data.status + ' ' + data.statusText
              });
              $('#submitbtn').attr('disabled', false);
              $('#submitbtn').removeClass('btn-progress');
            }
          });


        } else {
          loginForm.validate().focusInvalid();
        }
      });

    });

    var messages = [
      <% if (locals.messages) { %>
      <% messages.forEach(element=> { %> {
        type: '<%= element.type %>',
        message: '<%= element.message %>',
      }
      <% }); %>
      <% } %>
    ];

    messages.forEach(element => {
      Toast.fire({
        icon: element.type,
        title: element.message
      });
    });
  </script>

  <!-- Page Specific JS File -->
</body>

</html>