
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard">Bhajan Bank</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="/dashboard">St</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li><a class="nav-item active" href="/dashboard"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
            <li class="menu-header">Data Tables</li>
            <li><a class="nav-link active" href="/admin"><i class="fas fa-fire"></i> <span>Admins</span></a></li>
            <li><a class="nav-link active" href="/category"><i class="fas fa-fire"></i> <span>Category</span></a></li>

            <li><a class="nav-link" href="./blank.ejs"><i class="far fa-square"></i> <span>Blank Page</span></a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Bootstrap</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/bootstrap-alert.html">Alert</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-badge.html">Badge</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-breadcrumb.html">Breadcrumb</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-buttons.html">Buttons</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-card.html">Card</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-carousel.html">Carousel</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-collapse.html">Collapse</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-dropdown.html">Dropdown</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-form.html">Form</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-list-group.html">List Group</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-media-object.html">Media Object</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-modal.html">Modal</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-nav.html">Nav</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-navbar.html">Navbar</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-pagination.html">Pagination</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-popover.html">Popover</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-progress.html">Progress</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-table.html">Table</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-tooltip.html">Tooltip</a></li>
                    <li><a class="nav-link" href="./sources/pages/bootstrap-typography.html">Typography</a></li>
                </ul>
            </li>
            <li class="menu-header">Stisla</li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/components-article.html">Article</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="./sources/pages/components-avatar.html">Avatar</a>
                    </li>
                    <li><a class="nav-link" href="./sources/pages/components-chat-box.html">Chat Box</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="./sources/pages/components-empty-state.html">Empty
                            State</a></li>
                    <li><a class="nav-link" href="./sources/pages/components-gallery.html">Gallery</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="./sources/pages/components-hero.html">Hero</a></li>
                    <li><a class="nav-link" href="./sources/pages/components-multiple-upload.html">Multiple Upload</a>
                    </li>
                    <li><a class="nav-link beep beep-sidebar" href="./sources/pages/components-pricing.html">Pricing</a>
                    </li>
                    <li><a class="nav-link" href="./sources/pages/components-statistic.html">Statistic</a></li>
                    <li><a class="nav-link" href="./sources/pages/components-tab.html">Tab</a></li>
                    <li><a class="nav-link" href="./sources/pages/components-table.html">Table</a></li>
                    <li><a class="nav-link" href="./sources/pages/components-user.html">User</a></li>
                    <li><a class="nav-link beep beep-sidebar" href="./sources/pages/components-wizard.html">Wizard</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Forms</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/forms-advanced-form.html">Advanced Form</a></li>
                    <li><a class="nav-link" href="./sources/pages/forms-editor.html">Editor</a></li>
                    <li><a class="nav-link" href="./sources/pages/forms-validation.html">Validation</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Google
                        Maps</span></a>
                <ul class="dropdown-menu">
                    <li><a href="./sources/pages/gmaps-advanced-route.html">Advanced Route</a></li>
                    <li><a href="./sources/pages/gmaps-draggable-marker.html">Draggable Marker</a></li>
                    <li><a href="./sources/pages/gmaps-geocoding.html">Geocoding</a></li>
                    <li><a href="./sources/pages/gmaps-geolocation.html">Geolocation</a></li>
                    <li><a href="./sources/pages/gmaps-marker.html">Marker</a></li>
                    <li><a href="./sources/pages/gmaps-multiple-marker.html">Multiple Marker</a></li>
                    <li><a href="./sources/pages/gmaps-route.html">Route</a></li>
                    <li><a href="./sources/pages/gmaps-simple.html">Simple</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/modules-calendar.html">Calendar</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-chartjs.html">ChartJS</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-datatables.html">DataTables</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-flag.html">Flag</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-font-awesome.html">Font Awesome</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-ion-icons.html">Ion Icons</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-owl-carousel.html">Owl Carousel</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-sparkline.html">Sparkline</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-sweet-alert.html">Sweet Alert</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-toastr.html">Toastr</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-vector-map.html">Vector Map</a></li>
                    <li><a class="nav-link" href="./sources/pages/modules-weather-icon.html">Weather Icon</a></li>
                </ul>
            </li>
            <li class="menu-header">Pages</li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
                <ul class="dropdown-menu">
                    <li><a href="./sources/pages/auth-forgot-password.html">Forgot Password</a></li>
                    <li><a href="./sources/pages/auth-login.html">Login</a></li>
                    <li><a class="beep beep-sidebar" href="./sources/pages/auth-login-2.html">Login 2</a></li>
                    <li><a href="./sources/pages/auth-register.html">Register</a></li>
                    <li><a href="./sources/pages/auth-reset-password.html">Reset Password</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/errors-503.html">503</a></li>
                    <li><a class="nav-link" href="./sources/pages/errors-403.html">403</a></li>
                    <li><a class="nav-link" href="./sources/pages/errors-404.html">404</a></li>
                    <li><a class="nav-link" href="./sources/pages/errors-500.html">500</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="./sources/pages/features-activities.html">Activities</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-post-create.html">Post Create</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-posts.html">Posts</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-profile.html">Profile</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-settings.html">Settings</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-setting-detail.html">Setting Detail</a></li>
                    <li><a class="nav-link" href="./sources/pages/features-tickets.html">Tickets</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
                <ul class="dropdown-menu">
                    <li><a href="./sources/pages/utilities-contact.html">Contact</a></li>
                    <li><a class="nav-link" href="./sources/pages/utilities-invoice.html">Invoice</a></li>
                    <li><a href="./sources/pages/utilities-subscribe.html">Subscribe</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="./sources/pages/credits.html"><i class="fas fa-pencil-ruler"></i>
                    <span>Credits</span></a></li>
        </ul>

        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
            </a>
        </div>
    </aside>
</div>