<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="/admin/public/plugins/fontawesome-free/css/all.min.css">

  <link rel="stylesheet" href="/admin/public/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

  <link rel="stylesheet" href="/admin/public/plugins/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="/admin/public/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admin/public/plugins/sweetalert2/sweetalert2.min.css">

  <link rel="stylesheet" href="/admin/public/css/adminlte.min.css?v=3.2.0">