<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
			name="viewport"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/admin/public/img/kalakunj-mandir-logo-50.png"
		/>
		<title><%= title %></title>

		<!-- General CSS Files -->
		<link rel="stylesheet" href="/admin/public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/admin/public/css/fontawesome.min.css" />

		<!-- CSS Libraries -->
		<link rel="stylesheet" href="/admin/public/css/jqvmap.min.css" />
		<link rel="stylesheet" href="/admin/public/css/jquery-ui.css" />
		<link rel="stylesheet" href="/admin/public/css/summernote-bs4.css" />
		<link
			rel="stylesheet"
			href="/admin/public/css/datatable/dataTables.bootstrap4.min.css"
		/>
		<link
			rel="stylesheet"
			href="/admin/public/css/datatable/select.bootstrap4.min.css"
		/>
		<link rel="stylesheet" href="/admin/public/css/izitoast.min.css" />
		<link
			rel="stylesheet"
			href="/admin/public/css/bootstrap-timepicker.min.css"
		/>
		<link rel="stylesheet" href="/admin/public/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/admin/public/css/prism.css" />

		<!-- Template CSS -->
		<link rel="stylesheet" href="/admin/public/css/style.css" />
		<link rel="stylesheet" href="/admin/public/css/components.css" />

		<style>
			#zero_config_filter > label > input {
				width: 300px;
			}

			#html5lightbox-watermark {
				display: none !important;
			}

			textarea {
				height: 100px;
			}
		</style>
	</head>
</html>
